if viewBlock ? viewBlock : viewBlock = []

//begin view-block
+b.SECTION.view-block(class= viewBlock.classMod ? viewBlock.classMod : '')
	+e.container.container
		+e.title.title-1.title-decor
			span.title-decor__line.title-decor__line_l
			h2= viewBlock.title
			span.title-decor__line.title-decor__line_r
		+e.sub-title
			if viewBlock.descr
				p= viewBlock.descr

		+e.inner
			mixin viewItem(item)
				+e.item
					+e.item-img
						+e.IMG(src=`static/img/content/view-block_${item.img}.jpg` alt='image')
					+e.item-content
						if item.title
							+e.item-title
								h5= item.title
						if item.date
							+e.item-date
								span= item.date
						+e.item-descr
							p= item.descr
						+e.A.item-btn.btn(href='#!' class= item.btnClass)
							span.btn__text подробнее

					+e.item-square
						+e.item-square-l
						+e.item-square-t
						+e.item-square-r
						+e.item-square-b

			each item in viewList
				+viewItem(item)
	//end view-block